<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App Help</title>
</head>

<body>
    <div id="helpContent" class="help text-sm text-black font-bold  p-2 text-center  mt-5 font-mono">
        <p>This App consists of 10 questions</p>
        <p>For each answer you get a point</p>
        <p>You just have to click on play now button</p>
        <p>Then you can get the questions with 4 options</p>
        <p>Choose any one</p>
        <p>You will know the answer immediately</p>
        <p>Atlast you get your results by clicking on Next button</p>
        <p>Thank You</p>
        <p>Enjoy your game</p>
        <a href="index.html">
            <button 
                class="text-xl bg-blue-950 text-white font-bold p-2 rounded-md w-[100px] mt-10">BACK</button>
        </a>
    </div>
</body>

</html>